/*
Theme Name: Demo site
Text Domain: demosite
Version: 1.5
Template:demosite
Requires at least: 4.7
Requires PHP: 5.2.4
Description: demo site
Author: Rajesh

*/
@import url("../twentytwenty/style.css");
html {
    margin: 0px !important;
}

nav{
  background-color: teal;
  height: 50px;
  box-shadow: 0 0 3px 1px;
}
nav .navigation-brand {
  line-height: 50px;
  margin-left: 20px;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
nav .navigation-list {
  height: 50px;
  line-height: 50px;
}
nav .navigation-list li {
  display: inline-block;
  margin: 0 10px;
  font-size: 16px;
}
nav .navigation-list li a {
  color: white;
}
nav .toggle {
  display: none;
}

.nav-collsaped {
  position: fixed !important;
  background-color: black;
  left: 0 !important;
  transition: 0.5s;
}

.overlay {
  display: none;
  z-index: -1;
  position: fixed;
  left: 0;
  top: 50px;
  background-color: rgba(0, 0, 0, 0);
  transition: 5s;
}

.body-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: inline !important;
  transition: 5s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 0px);
  -moz-transform: rotate(-45deg) translate(-5px, 0px);
  -o-transform: rotate(-45deg) translate(-5px, 0px);
  -ms-transform: rotate(-45deg) translate(-5px, 0px);
  transform: rotate(-45deg) translate(-5px, 0px);
  width: 15px;
}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, 0px);
  -moz-transform: rotate(45deg) translate(-5px, 0px);
  -o-transform: rotate(45deg) translate(-5px, 0px);
  -ms-transform: rotate(45deg) translate(-5px, 0px);
  transform: rotate(45deg) translate(-5px, 0px);
  width: 15px;
}

@media (max-width: 767px) {
  nav .toggle {
    display: inline-block;
    background-color: transparent;
    border: 1px solid transparent;
    outline: none !important;
    font-size: 33px;
    color: white;
    font-family: serif;
    font-weight: bold;
    margin-top: 6px;
  }
  nav .toggle:hover, nav .toggle:focus {
    color: #d6d6d6;
  }
  nav .toggle > div {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
    transition: 0.3s;
  }
  nav .navigation-list {
    height: 100%;
    position: fixed;
    left: -300px;
    margin-top: 50px;
    width: 300px;
    transition: 600ms cubic-bezier(0.42, 0, 0, 0.99);
    overflow-x: hidden;
  }
  nav .navigation-list li {
    display: block;
  }
  nav .overlay {
    width: 100%;
    height: 100%;
  }
}
